<!-- <mat-toolbar>
  <button mat-flat-button color="" (click)="goBackToControllerList()">
    <mat-icon>arrow_back_ios</mat-icon>
    <span>Back</span>
  </button>
  <div>Controller</div>
</mat-toolbar> -->


<!-- <mat-toolbar color="primary" class="example-toolbar">
  <button mat-flat-button color="" (click)="goBackToControllerList()">
    <mat-icon>arrow_back_ios</mat-icon>
    <span>Back</span>
  </button>
  <h1 class="example-app-name">Controller Home</h1>
</mat-toolbar>


<mat-sidenav-container class="root-container">
  <mat-sidenav mode="side" opened>
    <ul>
      <a routerLink="./">Dashboard</a>
      <a routerLink="scheduling">Scheduling</a>
      <a routerLink="stations">Stations</a>
      <a routerLink="">Adjustments</a>
      <a routerLink="">Remote Control</a>
      <a routerLink="">Settings</a>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container> -->



<div class="main-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button *ngIf="mobileQuery.matches" mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">Controller Home</h1>
  </mat-toolbar>

  <mat-sidenav-container class="main-container">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
    [opened]="!mobileQuery.matches"
    (click)="mobileQuery.matches ? snav.toggle() : null"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <button mat-flat-button color="" (click)="goBackToControllerList()">
        <mat-icon>arrow_back_ios</mat-icon>
        <span>Back</span>
      </button>
      <mat-nav-list>
        <a mat-list-item routerLink="./">Dashboard</a>
          <a mat-list-item routerLink="scheduling">Scheduling</a>
          <a mat-list-item routerLink="stations">Stations</a>
          <a mat-list-item routerLink="">Adjustments</a>
          <a mat-list-item routerLink="">Remote Control</a>
          <a mat-list-item routerLink="">Settings</a>

      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
